/* استایل برای پاراگراف‌ها / Styles for paragraphs */
p {
  font-size: 30px; /* اندازه فونت / Font size */
}

/* استایل برای کلاس خارجی / Styles for external class */
.external-class {
  background-color: brown; /* رنگ پس‌زمینه / Background color */
}

/* استایل برای ID خاص / Styles for specific ID */
#my_text {
  background-color: blue; /* رنگ پس‌زمینه / Background color */
}
